<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class=addShow>
        <h2>Add a Show</h2>
        <form action="/shows/create" method="POST" id="addShow">
            {%csrf_token%}
            <label for="">Title</label>
            <input type="text" name="title">
            <br> <br>
            <label for="">Network</label>
            <input type="text" name="network">
            <br> <br>
            <label for="">Release Date</label>
            <input type="date" name="release_date">
            <br> <br>
            <label for="">Description</label>
            <input type="text" name="description">
            <button type="submit">Create</button>
        </form> 
    </div>
</body>
</html>